
body, html {
  height: 100%;
  font-family: Roboto, sans-serif;
}

img {
  width: 1.5vw;
}

.sidebar img {
  filter: invert(100%);
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr; 
  min-height: 100vh;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 3fr 1.5fr 4.5fr;
  gap: 5vh;
  background-color: #1992D3;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.sidebar p {
  color: white;
  font-weight: bold;
}

.sidebar .logo {
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-columns: 1fr 4fr;
  padding-left: 1vw;
}

.sidebar .features {
  padding-left: 1.75vw;
  display: grid;
  gap: 10px;
}

.sidebar .service {
  padding-left: 1.75vw;
  display: grid;
  gap: 10px;
}

.sidebar .logo img {
  width: 3vw;
}

.logo p {
  font-size: 1.5rem;
}

.menu-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr;
}

.menu-item p {
  font-size: 1.2rem;
}

.banner {
  display: grid;
  grid-template-rows: 2fr 3fr;
  background-color: white;
  padding: 1vh 3vw;
}

.banner .search {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr;
  grid-row: 1 / 2;
}

.banner .search form {
  display: grid;
  grid-template-columns: 1fr 9fr;
  justify-content: end;
  gap: 10px;
  align-items: center;
}

.banner .search form button {
  background: none;
  border: none;
  padding: 0;
  place-self: end;
}

.banner .search form input {
  border: none;
  background-color: #E2E8F0;
  border-radius: 14px;
  padding: 2px;
  padding-left: 10px;
}

.banner .search .notifications-profile {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 2fr;
}

.banner .search .notifications-profile .bell {
  place-self: end; 
}

.banner .search .notifications-profile .circular-placeholder {
  width: 2vw;
  height: 100%;
  place-self: center;
  border-radius: 50%;
  background-color: #cccccc;
  border-color: black;
}

.notifications-profile p {
  font-weight: bold;
}

.banner .greeting {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr;
}

.banner .greeting .friendly {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.greeting-text {
  font-weight: bold;
}

.greeting-text .bottom-line {
  font-size: 1.5rem;
}

.banner .greeting .friendly .greeting-img {
  width: 40%;
  height: 100%;
  place-self: center;
  border-radius: 50%;
  background-color: #cccccc;
  border-color: black;
}

.actions {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
}

[class^='button-'] {
  color: white;
  font-weight: bold;
  height: 4vh;
  border-radius: 20px;
  border-style: none;
  background-color: #3292D4;
}

.content {
  background-color: #E2E8F0;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 10px;
}

.projects {
  display: grid;
  grid-template-rows: 1fr 11fr; /* 1fr 5fr for extras */
}

.content .projects .section-content {
  display: grid;
  gap: 10px;
  padding: 4px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}

.projects-body {
  background-color: white;
  border-color: #F0B42A;
  border-left-style: solid;
  border-width: 8px;
  border-radius: 8px;
}

.project-content {
  font-size: 0.75rem;
}

.content .extras {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.extras .announcements {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.extras .trending {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.section-content {
  display: grid;
  padding: 4px;
}

.profile-img {
  height: 100%;
  width: 80%;
  place-self: center;
  border-radius: 50%;
  background-color: #cccccc;
  border-color: black;
}

.recommended-profile {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 3fr;
}

.big-header {
  font-size: 1.5rem;
}

.recommended-profile {
  background-color: white;
}

.small-body-box {
  background-color: white;
}

.profile-text .top-line {
  font-size: 0.7rem;
}

.profile-text .bottom-line {
  font-size: 0.75rem;
}
